/* 
    Ajouter du style en fonction du type d'élément : 
    - Ajouter du css à une classe, utilisez .CLASSE
        Ex pour une div avec une classe "parent"
        .parent { }

    - Ajouter du css à un id, utiliser #ID
        Ex pour une div avec un id "navbar"
        #navbar { }

    - Ajouter du css à tout un type de balises (par ex les balises p)
        p { }


    Quelques attributs css pratiques : 
    - Couleur de fond : background-color
    - Couleur de texte : color
    - Marge interne d'un élément : padding
    - Marge externe d'un élément : margin
    - Taille d'écriture : font-size
    - Police d'écriture : font-family
*/

body {
    margin: 0;
    padding: 0;
}

/* Ajouter :
    - Pour la classe "parent" 
        - Un fond rouge 
        - Un padding de 2em sur tous les cotés
    - Pour la classe enfant
        - Un fond bleu
    - Pour toutes les balises p 
        - Une police d'écriture "Helvetica"
        - Une taille d'écriture à 1.5em
*/

.parent {
    background-color: red;
    padding: 2em;
}

.enfant {
    background-color: blue;
}

p {
    font-family: Helvetica;
    font-size: 1.5em;
}

/* CSS pour tous les éléments qui ont la classe "container" */
.container {
    padding: 2em;
    background-color: rgb(124, 166, 238);
}

/* CSS pour l'élément qui a l'id "btn" */
#btn {
    padding: 1em;
    font-size: 1.2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}