body {
    margin: 0;
    padding: 0;
}

/* Ajouter :
    - Pour la classe "parent" 
        - Un fond rouge 
        - Un padding de 2em sur tous les cotés
    - Pour la classe enfant
        - Un fond bleu
    - Pour toutes les balises p 
        - Une police d'écriture "Helvetica"
        - Une taille d'écriture à 1.5em
*/

.parent {
    background-color: red;
    padding: 2em;
}

.enfant {
    background-color: blue;
}

p {
    font-family: Helvetica;
    font-size: 1.5em;
}

